<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/about.css" type="text/css"/>
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <svg id="fader"></svg>
        <script>
            fadeInPage();
            function fadeInPage() {
                if(!window.AnimationEvent){
                    return;
                }
                let fader = document.getElementById("fader");
                fader.classList.add('fade-out');
            }
        </script>

      


        <div class="earth parallax">
          <div class="aboutMeHeading">
            <h1>Nusair Islam</h1>
          </div>
        </div>

        <div class="container">
          <img id="me" src="Imgs/me/0.jpg">
        
          <div id="textbox">
            <h1 class="h1">Howdy,</h1>
            <h2 class="h2">My name is Nusair Islam, I am a 4th year student
              at the University of British Columbia majoring in Electrical Engineering
            and minoring in Physics.</h2>
            <hr class="br">
            <p class="p">
              I have a strong passion for software engineering, specifically in the fields 
              of AI and web development. I am also very interested in hardware and computer archietecture,
              as well as physics. I enjoy learning about and combining all aspects of engineering
              so that I build a "full picture" understanding.
            </p>
            <br>
            <p class="p">
              I also really enjoy biking, bodybuilding, kung fu, and playing/composing guitar pieces.
              I love learning about new things both related and unrelated into my field of study!
            </p>
            <br class="br">
            <p class="p">
              I'm so excited to have you on my portfolio! I hope you have a good time exploring my website.
              Please do not hesitate to reach out!
            </p>
          </div>
        </div>

        <nav class="navbar navbar-dark navbar-expand-lg" style="top:0px;position:fixed;width:100%;background-color:black;font-size:12px;">
            <a class="navbar-brand" href="/home" style="font-weight:bold;font-family:Andromeda;color:rgb(196, 196, 196)">NUSAIR ISLAM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav" style="background:black;width:100%;text-align:center;">
                <li class="nav-item" style="margin-left : 55%;">
                  <a class="nav-link" href="/home" style="font-size:100%;font-family:Brave81">HOME</a>
                </li>
                <li class="nav-item" style="margin-left:5%;">
                  <a class="nav-link" href="/about" style="font-size:100%;color:yellow !important;font-family:Brave81">ABOUT ME</a>
                </li>
                <li class="nav-item" style="margin-left:5%;"> 
                  <a class="nav-link" href="/professional" style="font-size:100%;font-family:Brave81">PROFESSIONAL EXPERIENCE</a>
                </li>    
              </ul>
            </div>  
          </nav>
        <script src="scripts/about.js" async defer></script>
    </body>
</html>