<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/experience.css">
        <link rel="stylesheet" href="stylesheets/shooting_star.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <svg id="fader"></svg>
        <script>
            fadeInPage();
            function fadeInPage() {
                if(!window.AnimationEvent){
                    return;
                }
                let fader = document.getElementById("fader");
                fader.classList.add('fade-out');
            }
        </script>
  
        <div class="parallax"></div>
        
        <div id="twinkling_stars">
            <div class='stars'></div>
            <div class='twinkling'></div>
        </div>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div class="inner"></div>

        <div class="job" id="me_job">
            
            <div class="textBox" id="me_textBox">
                <!--h1 class="jobh1" id="me_jobh1" style="color:rgb(158, 158, 158);">Please feel free to download my CV</h1-->
                <h2 class="jobh2" id="me_jobh2">Please feel free to download my CV</h2>
                <a href="Nusair Islam Amazon Resume.pdf" target="_blank">
                <button id="download_btn">
                    <img id="download_img" src="Imgs/icons8-download.gif"style="height:20px;">
                    Download PDF
                </button>
            </a>
                <!--h3 class="jobh3" style="color:rgb(158, 158, 158);"><b><i>Or, scroll down to see my professional experiences</i></b></h3>
                <div id="desktopTutorial">
                    <p>To scroll through my professional experiences: </p>
                    <ul class="jobul">
                       <li>Scroll <i>up</i> and <i>down</i></li>
                        <li>Hit <i>right/left</i> or <i>up/down</i> key</li>
                    </ul>
                </div-->
                
            </div>
        </div>


        <img id="downArrow" src="Imgs/down.png">
        <img id="upArrow" src="Imgs/down.png">
        

        <div class="parallaxHalf"></div>

        <div class="job" id="ansys_job" style="border: 3px solid rgb(255,183,27);">
            <img class="logo" src="Imgs/logos/ansyslogo.png">
            <div class="textBox" id="ansys_textBox">
                <h1 class="jobh1" style="color:rgb(255,183,27);">Ansys</h1>
                <h2 class="jobh2">Electronics R&D - 3D GUI Intern</h2>
                <h3 class="jobh3" style="color:rgb(255,183,27);"><b><i>Aug 2021 - PRESENT</i></b></h3>
                <ul class="jobul">
                    <li>Implemented compatability with latest MATLAB/Simulink version and desktop software using C++</li>
                    <li>Modeled four complicated 2D/3D toroid structures on CAD and ran eddy current analysis using defined excitations and calculated resultant torque</li>
                    <li>Eliminated 95% of build warnings and errors in Maxwell EDT Software in C++</li>
                </ul>
            </div>
        </div>

        <div class="parallaxHalf"></div>

        <div class="parallaxHalf"></div>

        <div class="job" style="border: 3px solid rgb(0,105,183);" id="intel_job">
            <img class="logo" src="Imgs/logos/intellogo.png">
            <div class="textBox" id="intel_textBox">
                <h1 class="jobh1" style="color:rgb(0,105,183);">Intel Corporation</h1>
                <h2 class="jobh2">Power Efficiency Engineering Intern</h2>
                <h3 class="jobh3" style="color:rgb(0,105,183);"><b><i>Jan 2021 - Aug 2021</i></b></h3>
                <ul class="jobul">
                    <li>Created and trained a TensorFlow dense neural network regression model to calculate data leakage power with over 75% accuracy given cell counts and areas as inputs</li>
                    <li>Utilized Apache’s PySpark Machine Learning to create and train a linear regression model pipeline that calculates leakage power given cell counts and areas as inputs with over 70% accuracy</li>
                    <li>Debugged SV module using Ansys PowerArtist to reduce number of unknown nets from 100,000+ to ~1000</li>
                    <li>Solved critical timing errors and ran analysis tests on verilog modules</li>
                </ul>
            </div>
        </div>

        <div class="parallaxHalf"></div>

        <div class="job" style="border: 3px solid rgb(210,178,44);" id="ubc_job">
            <img class="logo" src="Imgs/logos/ubclogo.png">
            <div class="textBox" id="ubc_textBox">
                <h1 class="jobh1" style="color:rgb(210,178,44);">University of British Columbia</h1>
                <h2 class="jobh2">APSC 160 Teaching Assistant</h2>
                <h3 class="jobh3" style="color:rgb(210,178,44);"><b><i>Sept 2020 - April 2021</i></b></h3>
                <ul class="jobul">
                    <li>Ran office hours and mentored over 100 students on the basic principles of programming, and software engineering in C</li>
                    <li>Created presentations for over 200 students on topics such as stack memory theory, variable memory allocation, heap and stack memory, binary trees, sorting, data structures, and runtime optimization in C</li>
                </ul>
            </div>
        </div>

        <div class="parallaxHalf"></div>

        <div class="job" style="border: 3px solid rgb(12, 129, 49);" id="rocsol_job">
            <img class="logo" src="Imgs/logos/rocsollogo.png">
            <div class="textBox" id="rocsol_textBox">
                <h1 class="jobh1" style="color:rgb(12, 129, 49);">Rocsol Tech</h1>
                <h2 class="jobh2">Software Engineering Intern</h2>
                <h3 class="jobh3" style="color:rgb(12, 129, 49);"><b><i>May 2020 - Sept 2020</i></b></h3>
                <ul class="jobul">
                    <li>Created integral application in C# to utilize user inpt data and generate a dynamic diagram showcasing the output of the program in a visualize manner</li>
                    <li>Created animation in C# to read output data from DWOB software and generate a dynamic animation showcasing the path of the drill bit inside the wall and the rock fracture points</li>
                    <li>Debugged over 100 critical build errors in DWOB software</li>
                </ul>
            </div>
        </div>

        <div class="parallaxHalf"></div>

        <div class="parallax"></div>

        <nav class="navbar navbar-dark navbar-expand-lg" style="top:0px;position:fixed;width:100%;background-color:black;font-size:12px;">
            <a class="navbar-brand" href="/home" style="font-weight:bold;font-family:Andromeda;color:rgb(196, 196, 196)">NUSAIR ISLAM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav" style="background:black;width:100%;text-align:center;">
                <li class="nav-item" style="margin-left : 55%;">
                  <a class="nav-link" href="/home" style="font-size:20px;font-family:Brave81">HOME</a>
                </li>
                <li class="nav-item" style="margin-left:5%;">
                  <a class="nav-link" href="/about" style="font-size:20px;font-family:Brave81">ABOUT ME</a>
                </li>
                <li class="nav-item" style="margin-left:5%;"> 
                  <a class="nav-link" href="/professional" style="font-size:20px;color:yellow !important;font-family:Brave81">PROFESSIONAL EXPERIENCE</a>
                </li>    
              </ul>
            </div>  
          </nav>

        <script src="scripts/experience.js" async defer></script>
    </body>
</html>