<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/home.css">
    </head>
    <body class="opening view-2D zoom-large data-close controls-close">
        <svg id="fader"></svg>
        <script>
            fadeInPage();
            function fadeInPage() {
                if(!window.AnimationEvent){
                    return;
                }
                let fader = document.getElementById("fader");
                fader.classList.add('fade-out');
            }
        </script>
        <div id="twinkling_stars">
            <div class='stars'></div>
            <div class='twinkling'></div>
        </div>

        <div id="universe" class="scale-stretched">
          <div id="galaxy">
            <div id="solar-system" class="earth">
              <div id="mercury" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <dl class="infos">
                      <dt>Mercury</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="venus" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <dl class="infos">
                      <dt>Venus</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="earth" class="orbit">
                <div class="pos">
                  <div class="orbit" id="earthplanet"> 
                    <div class="pos">
                      <div class="moon"></div>
                    </div>
                  </div>
                  <div class="planet">
                    <dl class="infos">
                      <dt>Earth</dt>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="mars" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <dl class="infos">
                      <dt>Mars</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="jupiter" class="orbit">
                <a href="/about" style="background:transparent;z-index:1000;">
                <div class="pos">
                  <div class="planet">
                    <h1 id="jupiterText" style="color:white;font-size:medium;position : relative;top:-40%;">About me</h1>
                    <dl class="infos">
                      <dt>Jupiter</dt>
                      <dd><span>JUPIER</span></dd>
                    </dl>
                  </div></a>
                </div>
              </div>
              <div id="saturn" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <div class="ring"></div>
                    <dl class="infos">
                      <dt>Saturn</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="uranus" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <dl class="infos">
                      <dt>Uranus</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="neptune" class="orbit">
                <div class="pos">
                  <div class="planet">
                    <dl class="infos">
                      <dt>Neptune</dt>
                      <dd><span></span></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div id="sun">
                <dl class="infos">
                  <dt>Sun</dt>
                  <dd><span></span></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script type="text/javascript">
          if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
          }
        </script>
        <!--script src="js/prefixfree.min.js"></script>
        <script src="js/scripts.min.js"></script-->
        <script src = "scripts/home.js"></script>
      </body>
</html>