<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/otherhome.css">
        <link rel="stylesheet" href="stylesheets/index.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
<body class="opening hide-UI view-2D zoom-large data-close controls-close">
    <svg id="fader"></svg>
        <script>
            fadeInPage();
            function fadeInPage() {
                if(!window.AnimationEvent){
                    return;
                }
                let fader = document.getElementById("fader");
                fader.classList.add('fade-out');
            }
        </script>
    <div id="twinkling_stars">
        <div class='stars'></div>
        <div class='twinkling'></div>
    </div>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id="state1" class="page">
        <div id="universe" class="scale-stretched">
            <!--div id="galaxy">
                <div id="twinkling_stars">
                <div class='stars'></div>
                <div class='twinkling'></div>
            </div>
            <div id='stars'></div>
            <div id='stars2'></div-->
            <!--div id='stars3'></div-->
            <div id="solar-system" class="earth">
                <div id="mercury" class="orbit">
                    <div class="pos">
                        <div class="planet"></div>
                    </div>
                </div>
                <div id="venus" class="orbit">
                    <div class="pos">
                        <div class="planet"></div>
                    </div>
                </div>
                <div id="earth" class="orbit">
                    <div class="pos">
                        <div class="orbit">
                            <div class="pos">
                                <div class="moon"></div>
                            </div>
                        </div>
                        <div class="planet">
                            <a href="/about" class="earth_link"></a>
                            <dl class="infos">
                                <dt>Earth</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="mars" class="orbit">
                    <div class="pos">
                        <a href="/education" class="mars_link">
                            <div class="planet">
                                <dl class="infos">
                                    <dt>Mars</dt>
                                    <dd><span></span></dd>
                                </dl>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="jupiter" class="orbit">
                    <div class="pos">
                        <a href="/professional" class="jupiter_link">
                            <div class="planet">
                                <dl class="infos">
                                    <dt>Jupiter</dt>
                                    <dd><span></span></dd>
                                </dl>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="saturn" class="orbit">
                    <div class="pos">
                        <div class="planet">
                            <a href="/projects" class="saturn_link"></a>
                            <div class="ring"></div>
                                <dl class="infos">
                                    <dt>Saturn</dt>
                                    <dd><span></span></dd>
                                </dl>
                        </div>
                    </div>
                </div>
                <div id="uranus" class="orbit">
                    <div class="pos">
                        <div class="planet"></div>
                    </div>
                </div>
                <div id="neptune" class="orbit">
                    <div class="pos">
                        <div class="planet"></div>
                    </div>
                </div>
                <div id="sun"></div>
            </div>
        </div>
    </div>
    <div id="state3" class="page">
        <img src="Imgs/stardestroyer.jpg">
    </div>
    
    <div id="page2" class="page">
        <div>
            <img src="Imgs/stardestroyer.jpg">
        </div>>
    </div>
    <script src="scripts/index/index.js"></script>
    <script src="scripts/index/states.js"></script>

    
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript">
      if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
      }
    </script>

    <nav class="navbar navbar-dark navbar-expand-xl" style="top:0px;position:fixed;width:100%;background-color:black;font-size:12px;z-index:100;">
      <a class="navbar-brand" href="/" style="font-weight:bold;font-family:Andromeda;color:rgb(196, 196, 196)">NUSAIR ISLAM</a>
      <a href="https://www.linkedin.com/in/nusair-islam/" target="_blank"><img src="Imgs/linkedin.png" id="linkedinBtn"></a>
      <img src="Imgs/email.png" id="email">
      <a href="https://github.com/tawfi11" target="_blank"><img src="Imgs/github.png" id="gitBtn"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" style="background:black;width:100vw;">
          <li class="nav-item" style="margin-left:28vw;float:right;">
              <a class="nav-link" href="/home" style="font-size:0.8vw;font-family:Brave81;color:yellow !important;">HOME</a>
            </li>
            <li class="nav-item" style="margin-left:3vw;float:right;">
              <a class="nav-link" href="/about" id="aboutLink" style="font-size:0.8vw;font-family:Brave81">ABOUT ME</a>
            </li>
            <li class="nav-item" style="margin-left : 3vw;float:right;">
              <a class="nav-link" href="/education" id="educationLink" style="font-size:0.8vw;font-family:Brave81;">EDUCATION</a>
            </li>
            <li class="nav-item" style="margin-left:3vw;float:right;"> 
              <a class="nav-link" href="/professional" id="experienceLink" style="font-size:0.8vw;font-family:Brave81;">PROFESSIONAL<br>EXPERIENCE</a>
            </li>
            <li class="nav-item" style="margin-left:3vw;"> 
                <a class="nav-link" href="/projects" id="projectsLink" style="font-size:0.8vw;font-family:Brave81;">PROJECTS</a>
            </li>         
        </ul>
      </div>  
    </nav>

    <div style="padding:2px;margin:0 auto;height : fit-content;background-color:rgba(255, 255, 255, 0.74);position:absolute;display:none;color:black;z-index:101;" id="copyBox">
      <p style="font-size: 15px !important;">Copied my email to your clipboard!<br>Let's talk!</p>
    </div>
    <script>
      if($(window).width() < $(window).height()) {
        $("#linkedinBtn").remove();
        $("#email").remove();
        $("#gitBtn").remove();
        $(".nav-item").css("margin", "0 auto");
        $(".nav-link").css("font-size", "2vh");
      }
      $("#email").click(function(e){
        $("#copyBox").css({top:e.pageY, left:e.pageX});
        copyEmail();
      })
      function copyEmail() {
        /* Get the text field */
        let copyText = "nusair11@gmail.com";
      
        const cb = navigator.clipboard;
        cb.writeText(copyText);
        $("#copyBox").fadeIn(100);
        setTimeout(function(){
          $("#copyBox").fadeOut(1000);
        }, 1000);
        
        
      }
      </script>
    
    <script src="js/prefixfree.min.js"></script>
    <script src="js/scripts.min.js"></script>
    <script src="scripts/otherhome.js"></script>
  </body>
  </html>
