<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="stylesheets/otherhome.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <svg id="fader"></svg>
        <script>
            fadeInPage();
            function fadeInPage() {
                if(!window.AnimationEvent){
                    return;
                }
                let fader = document.getElementById("fader");
                fader.classList.add('fade-out');
            }
        </script>

        <div id="twinkling_stars">
            <div class='stars'></div>
            <div class='twinkling'></div>
        </div>
        <div id='stars'></div>
        <div id='stars2'></div>
        <!--div id='stars3'></div-->

        <div class="inner"></div>

        <div>
            <img id="mercury" class="planet" src="Imgs/planets/mercury.png">
        </div>

        <div>
            <img id="venus" class="planet" src="Imgs/planets/venus.png">
        </div>

        <div>
            <h3 class="titleHeading" style="position:absolute;top:50vh;left:62vw;color:white;">About me</h3>
            <a href="/about">
                <img id="earth" class="planet" src="Imgs/planets/earth.png">
            </a>
        </div>

        <div>
            <img id="mars" class="planet" src="Imgs/planets/mars.png">
        </div>

        <div>
            <a href="/professional"  >
                <img id="jupiter" class="planet" src="Imgs/planets/jupiter.png">
            </a>
        </div>

        <div style="width:fit-content;height:fit-content;background:blue;">
            <a href="/projects">
                <img id="saturn" class="planet" src="Imgs/planets/saturn.png">
            </a>
        </div>

        <div>
            <img id="uranus" class="planet" src="Imgs/planets/uranus.png">
        </div>

        <div>
            <img id="neptune" class="planet" src="Imgs/planets/neptune.png">
        </div>
        
        <nav class="navbar navbar-dark navbar-expand-lg" style="top:0px;position:fixed;width:100%;background-color:black;font-size:12px;">
            <a class="navbar-brand" href="https://www.linkedin.com/in/nusair-islam/" style="font-weight:bold;font-family:Andromeda;color:rgb(196, 196, 196)">NUSAIR ISLAM</a>
            <a href="https://www.linkedin.com/in/nusair-islam/" target="_blank"><img src="Imgs/linkedin.png" id="linkedinBtn"></a>
            <img src="Imgs/email.png" id="email">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav" style="background:black;width:100%;text-align:center;">
                <li class="nav-item" style="margin-left : 40%;">
                    <a class="nav-link" href="/home" style="font-size:100%;color:yellow !important;font-family:Brave81">HOME</a>
                  </li>
                  <li class="nav-item" style="margin-left:5%;">
                    <a class="nav-link" href="/about" style="font-size:100%;font-family:Brave81">ABOUT ME</a>
                  </li>
                  <li class="nav-item" style="margin-left:5%;"> 
                    <a class="nav-link" href="/professional" style="font-size:100%;font-family:Brave81">PROFESSIONAL EXPERIENCE</a>
                  </li>
                  <li class="nav-item" style="margin-left:5%;"> 
                      <a class="nav-link" href="/projects" style="font-size:100%;font-family:Brave81">PROJECTS</a>
                  </li>         
              </ul>
            </div>  
          </nav>
          <div style="padding:2px;margin:0 auto;height : 3vh;background-color:rgba(255, 255, 255, 0.74);position:absolute;display:none;color:black;" id="copyBox">
            <p style="font-size: 0.7vw !important;">Copied my email to your clipboard!</p>
          </div>
          <script>
            if($(window).width() < $(window).height()) {
              $("#linkedinBtn").remove();
              $("#email").remove();
              $(".nav-item").css("margin", "0 auto");
            }
            $("#email").click(function(e){
              $("#copyBox").css({top:e.pageY, left:e.pageX});
              copyEmail();
            })
            function copyEmail() {
              /* Get the text field */
              let copyText = "nusair11@gmail.com";
            
              navigator.clipboard.writeText(copyText);
              $("#copyBox").fadeIn(100);
              setTimeout(function(){
                $("#copyBox").fadeOut(1000);
              }, 1000);
              
              
            }
            </script>
        <script src="scripts/otherhome.js" async defer></script>
    </body>
</html>