<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/profexp.css">
        <link rel="stylesheet" href="stylesheets/shooting_star.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <svg id="fader"></svg>
        <script>
            fadeInPage();
            function fadeInPage() {
                if(!window.AnimationEvent){
                    return;
                }
                let fader = document.getElementById("fader");
                fader.classList.add('fade-out');
            }
        </script>

        <!--div class="night">
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
          </div-->
        <div id="twinkling_stars">
            <div class='stars'></div>
            <div class='twinkling'></div>
        </div>

        <div>
            <img src="Imgs/planets/jupiterold.png" id="jupiter">
        </div>
        
        <div>
            <img src="Imgs/stardestroyer.jpg" id="destroyer">
        </div>
        
        <div id="textbox">
            <div class="entry" id="intel">
                <img class="logo" src="Imgs/logos/ansyslogo.png">
                <div class="companyTitleBox">
                    <h1>Ansys Ltd.</h1>
                </div>
                <div class="clearfix"></div>
                <div class="positionBox">
                    <h2><i><b>Electronics R&D - 3D Gui</b></i></h2>
                    <h3><b>Aug 2021 - PRESENT</b></h3>
                </div>
                <div class="infobox">
                    <ul class="infoList">
                        <li>Implemented compatability with latest MATLAB/Simulink version and desktop software using C++</li><br>
                        <li>Modeled four complicated 2D/3D toroid structures on CAD and ran eddy current analysis using defined excitations and calculated resultant torque</li><br>
                        <li>Eliminated 95% of build warnings and errors in Maxwell EDT Software in C++</li>
                    </ul>
                </div>              
            </div> 
        </div>
        <div id="selection">
            <form>
                <input id="a" type="radio" name="hopping" value="0" checked onclick="buttonChange(this, false)">
                <label for="a"><span></span>Ansys Ltd.</label>
                <input id="b" type="radio" name="hopping" value="1" onclick="buttonChange(this, false)">
                <label for="b"><span></span>UBC Open Robotics</label>
                <input id="c" type="radio" name="hopping" value="2" onclick="buttonChange(this, false)">
                <label for="c"><span></span>Intel Corporation</label>
                <input id="d" type="radio" name="hopping" value="3" onclick="buttonChange(this, false)">
                <label for="d"><span></span>University of British Columbia</label>
                <input id="e" type="radio" name="hopping" value="4" onclick="buttonChange(this, false)">
                <label for="e"><span></span>Rocsol Technologies</label>
                <input id="f" type="radio" name="hopping" value="5" onclick="buttonChange(this, false)">
                <label for="f"><span></span>UBC Orbit</label>
                <div class="worm">
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                    <div class="worm__segment"></div>
                </div>
            </form>
            
        </div>
        
        <script src="scripts/profexp.js" async defer></script>
    </body>
</html>