<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/projects.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
      <svg id="fader"></svg>
        <script>
            fadeInPage();
            function fadeInPage() {
                if(!window.AnimationEvent){
                    return;
                }
                let fader = document.getElementById("fader");
                fader.classList.add('fade-out');
            }
        </script>

        
  
        <div class="parallax"></div>

        <div id="headerBox">
          <h3 id="headerText">Take a look at some of my favorite projects!</h3>
        </div>

        <div id="downArrowContainer">
          <h3 style="font-weight:bold;">scroll</h3>
        <img src="Imgs/down.png"  id="downArrow">
      </div>
      <div id="upArrowContainer">
          <h3 style="font-weight:bold;">scroll</h3>
        <img src="Imgs/down.png"  id="upArrow">
      </div>

        <div class="project_row pos0">
          <div class="project">
            <div class="projectHeading">
              <h1 class="projectDesc">2021 Web Development Certificate</h1>
            </div>
            <div class="projectDate">
              <h3 class="projectDesc"><i>August 2021 - October 2021</i></h3>
            </div>
            <a href="https://www.udemy.com/certificate/UC-0da8ce1d-cd19-4510-be45-5d906dbef694/" target="_blank"><img src="Imgs/udemy-webdev-certificaet.jpg" class="media"></a>
            <div class="projectHighlights">
              <p class="projectDesc">
                Completed a thorough web development certificate learning everything about
                web development and current web development technologies (click the picture)!
              </p>
            </div>
            <div class="projectTags">
              <hr style="border-top: 1px solid white;">
              <h2 class="projectDesc">HTML, DOM, Node.JS, Express, MongoDB, APIs, Authentication</h2>
            </div>
          </div>

          <div class="project">
            <div class="projectHeading">
              <h1 class="projectDesc">Python Voice Assistant</h1>
            </div>
            <div class="projectDate">
              <h3 class="projectDesc"><i>November 2020 - Present</i></h3>
            </div>
            <video class="media" controls>
              <source src="Vids/axel.mp4" type="video/mp4">
            </video>
            <div class="projectHighlights">
              <p class="projectDesc">
                A python-based voice assistant that utilizes machine learning frameworks such as 
                TensorFlow and Spark, and natural language processing framework like Spacy to parse 
                speech into decisions. The current video showcases the spotify feature of the voice assistant (<i>turn sound on</i>).
              </p>
            </div>
            <div class="projectTags">
              <hr style="border-top: 1px solid white;">
              <h2 class="projectDesc">Python, Tensorflow, Apache Spark, Natural Language Processing, Spacy, JavaScript, Logistic Regression, APIs</h2>
            </div>
          </div>

          <div class="project">
            <div class="projectHeading">
              <h1 class="projectDesc">Unity Indie Game</h1>
            </div>
            <div class="projectDate">
              <h3 class="projectDesc"><i>October 2020 - PRESENT</i></h3>
            </div>
            <video class="media" controls>
              <source src="Vids/ship battle 1.mp4" type="video/mp4">
            </video>
            <div class="projectHighlights">
              <p class="projectDesc">
                A Unity (C#)-based indie game developed completely by students. The story is an inspired
                personal story. All assets, including visuals, sounds, background, and scripts were developed
                by myself and my talented team.
              </p>
            </div>
            <div class="projectTags">
              <div class="projectTags">
                <hr style="border-top: 1px solid white;">
                <h2 class="projectDesc">C#, Unity, MultiProcessing, Path Finding, Creativity, Leadership, Project Management, Time Management Systems</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="parallax"></div>

        <div class="project_row pos1">
          <div class="project">
            <div class="projectHeading">
              <h1 class="projectDesc">Todo List</h1>
            </div>
            <div class="projectDate">
              <h3 class="projectDesc"><i>September 2020 - September 2020</i></h3>
            </div>
            <a href="https://guarded-beach-27083.herokuapp.com/" target="_blank"><img src="Imgs/todolist.png" class="media"></a>
            <div class="projectHighlights">
              <p class="projectDesc">
                Created a todo list using EJS, Express, Node.JS for the application side. Utilized Heroku
                to publish the application. And, created a mongoDB database on the backend to store 
                entries.
              </p>
            </div>
            <div class="projectTags">
              <hr style="border-top: 1px solid white;">
              <h2 class="projectDesc">Node.JS, Express, MongoDB, Heroku, HTML</h2>
            </div>
          </div>

          <div class="project">
            <div class="projectHeading">
              <h1 class="projectDesc">UBC Open Robotics</h1>
            </div>
            <div class="projectDate">
              <h3 class="projectDesc"><i>September 2020 - PRESENT</i></h3>
            </div>
            <a href="http://www.ubcopenrobotics.ca/" target="_blank"><img src="Imgs/block-circuit.png" class="media"></a>
            <div class="projectHighlights">
              <p class="projectDesc">
                A UBC design team focused on creating a robot to perform common household tasks. I am a member of the
                electrical team, I am responsible for analyzing, drawing, and debugging PCBs, as well as creating, testing, and
                implementing microcontroller circuits (click the picture)!
              </p>
            </div>
            <div class="projectTags">
              <hr style="border-top: 1px solid white;">
              <h2 class="projectDesc">PCB, Arduino, Circuit Maker, C</h2>
            </div>
          </div>

          <div class="project">
            <div class="projectHeading">
              <h1 class="projectDesc">UBC Orbit</h1>
            </div>
            <div class="projectDate">
              <h3 class="projectDesc"><i>September 2018 - April 2020</i></h3>
            </div>
            
            <a href="https://www.ubcorbit.com/" target="_blank"><img class="media" src="Imgs/orbit.png"></a>
            <div class="projectHighlights">
              <p class="projectDesc">
                A UBC design team focused on creating a satellite to launch into space. I was a member of the
                structure team, I was responsible for creating SolidWorks drawings of parts, analyzing solidWorks
                assemblies, adjusting the satellite caging, and performing vibrational and thermal simulations
                (click the picture)!
              </p>
            </div>
            <div class="projectTags">
              <hr style="border-top: 1px solid white;">
              <h2 class="projectDesc">SolidWorks, Ansys</h2>
            </div>
          </div>
        </div>
        
        <nav class="navbar navbar-dark navbar-expand-lg" style="top:0px;position:fixed;width:100%;background-color:black;font-size:12px;z-index:100;">
          <a class="navbar-brand" href="/" style="font-weight:bold;font-family:Andromeda;color:rgb(196, 196, 196)">NUSAIR ISLAM</a>
          <a href="https://www.linkedin.com/in/nusair-islam/" target="_blank"><img src="Imgs/linkedin.png" id="linkedinBtn"></a>
          <img src="Imgs/email.png" id="email">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav" style="background:black;width:100vw;">
              <li class="nav-item" style="margin-left : 40vw;">
                <a class="nav-link" href="/home" style="font-size:100%;font-family:Brave81;">HOME</a>
              </li>
              <li class="nav-item" style="margin-left:3vw;">
                <a class="nav-link" href="/about" style="font-size:100%;font-family:Brave81;">ABOUT ME</a>
              </li>
              <li class="nav-item" style="margin-left : 3vw;">
                <a class="nav-link" href="/education" style="font-size:100%;font-family:Brave81;">EDUCATION</a>
              </li>
              <li class="nav-item" style="margin-left:3vw;"> 
                <a class="nav-link" href="/professional" style="font-size:100%;font-family:Brave81;">PROFESSIONAL EXPERIENCE</a>
              </li>
              <li class="nav-item" style="margin-left:3vw;right : 0vw;"> 
                  <a class="nav-link" href="/projects" style="font-size:100%;font-family:Brave81;color:yellow !important;">PROJECTS</a>
              </li>                  
            </ul>
          </div>  
        </nav>
          <div style="padding:2px;margin:0 auto;height : 7vh;background-color:rgba(255, 255, 255, 0.74);position:absolute;display:none;color:black;z-index:101;" id="copyBox">
            <p style="font-size: 0.7vw !important;">Copied my email to your clipboard!<br>Let's talk!</p>
          </div>
          <script>
            if($(window).width() < $(window).height()) {
              $("#linkedinBtn").remove();
              $("#email").remove();
              $(".nav-item").css("margin", "0 auto");
            }
            $("#email").click(function(e){
              $("#copyBox").css({top:e.pageY, left:e.pageX});
              copyEmail();
            })
            function copyEmail() {
              /* Get the text field */
              let copyText = "nusair11@gmail.com";
            
              navigator.clipboard.writeText(copyText);
              $("#copyBox").fadeIn(100);
              setTimeout(function(){
                $("#copyBox").fadeOut(1000);
              }, 1000);
              
              
            }
            </script>
            
        
        <script src="scripts/projects.js" async defer></script>
    </body>
</html>