<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nusair Portfolio | #Battle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="stylesheets/shipBattle_styles.css">
    </head>
    <body>
        <div id="ship">
            <img src="Imgs/ship/Ship_Effects/Exhaust/Exhaust_1_000.png" class="rotate_img exhaust_top">
            <img src="Imgs/ship/Ship_Effects/Exhaust/Exhaust_1_000.png" class="rotate_img exhaust_bottom">
            <img src="Imgs/ship/0000.png" class="rotate_img ship_img">
            <img src="Imgs/ship/Ship_Effects/Fire_Shots/Shot_3_001.png" class="rotate_img shot_top">
            <img src="Imgs/ship/Ship_Effects/Fire_Shots/Shot_3_001.png" class="rotate_img shot_bottom">
        </div>
        <script src="scripts/shipBattleController.js" async defer></script>
    </body>
</html>