<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nusair Portfolio | #Builder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="stylesheets/shipBuilder_styles.css">
    </head>
    <body>
        <div id="selection_bar">
            <div id="engine" class="selection">
                <h1>Engine</h1>
            </div>

            <div id="wing" class="selection">
                <h1>Wings</h1>
            </div>

            <div id="weapon" class="selection">
                <h1>Weapon</h1>
            </div>
            
            <div id="cabin" class="selection">
                <h1>Cabin</h1>
            </div>
        </div>

        <img id="ship_img" src="Imgs/ship/0000.png">

        <div id="hud">
            <div class="hud_item">
                <img class="hud_item_img item 0" id="hud_item_img_1" src="">
            </div>
            <div class="hud_item">
                <img class="hud_item_img item 1" id="hud_item_img_2" src="">
            </div>
            <div class="hud_item">
                <img class="hud_item_img item 2" id="hud_item_img_3" src="">
            </div>
        </div>
        
        <form method="post" action="/">
            <button name="ship" type="submit" id="ship_btn">Launch</button>
        </form>
        <script src="scripts/shipBuildController.js" async defer></script>
    </body>
</html>