@font-face {
    font-family: 'Andromeda';
    src: url('../Fonts/Andromeda-eR2n.ttf')  format('truetype'); /* Safari, Android, iOS */
  }
  
  @font-face {
    font-family: "Brave81";
    src: url('../Fonts/Outerorbit-rggRL.ttf') format('truetype'); /* Safari, Android, iOS*/
  }
  

body {
    background: black !important;
    font-family: "lato", sans-serif !important;
    color : rgb(255, 255, 255);
    width : 100% !important;
}

.earth {
    background-image: url("../Imgs/planets/earth.png");
    /* Full height */
    height: 50vh;
    background-repeat: no-repeat;
    background-size: auto;
    position : relative;
    top : 50vh;
    left : -20vw;
}

#me {
    position : absolute;
    width : 10%;
    top : 20vh;
    left : 50vw;
    border-radius : 50px;
}

#fader {
    position : fixed;
    top : 0;
    left: 0;
    width: 100vw;
    height : 100vh;
    z-index: 999999;
    pointer-events: none;
    background: black;
    animation-duration: 2000ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
        to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
        to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}



