#fader {
    position : fixed;
    top : 0;
    left: 0;
    width: 100vw;
    height : 100vh;
    z-index: 999999;
    pointer-events: none;
    background: black;
    animation-duration: 2000ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
        to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
        to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

body {
    background: black;
    overflow : hidden;
    font-family: "lato", sans-serif;
    color : rgb(255, 255, 255);
}

#earth {
    position : absolute;
    top : 30em;
}

#me {
    position : absolute;
    max-height : 35vh;
    max-width : 35vw;
    left : 20vw;
    top : 10vh;
    border-radius:30px;
    float : left;
}

#aboutBox {
    float: left;
}