@font-face {
  font-family: 'Andromeda';
  src: url('../Fonts/Andromeda-eR2n.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Brave81";
  src: url('../Fonts/Outerorbit-rggRL.ttf') format('truetype'); /* Safari, Android, iOS*/
}

#fader {
  position : fixed;
  top : 0;
  left: 0;
  width: 100vw;
  height : 100vh;
  z-index: 999999;
  pointer-events: none;
  background: black;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes fade-out {
  from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-out {
  from { opacity: 1 }
      to { opacity: 0 }
}

@-webkit-keyframes fade-in {
  from { opacity: 0 }
      to { opacity: 1 }
}

@keyframes fade-in {
  from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
  opacity: 0;
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
}


body, html {
    height : 100%;
    background-color : black !important;
    font-family: 'Courier New', monospace !important;
    overflow: hidden;
}

hr {
    color:white;
    border-color:white;
}

#linkedinBtn {
  width : 2vw;
  background:rgb(196, 196, 196);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#linkedinBtn:hover{
  background-color:rgb(10,102,194);
}

#gitBtn {
  width : 1.8vw;
  background:rgb(196, 196, 196);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius : 5px;
  margin-left : 0.3vw;
}

#gitBtn:hover {
  background-color: purple;
}

#email {
  width : 1.7vw;
  background-color : rgb(196, 196, 196);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin : 0.5vw;
}

#email:hover {
  background-color:#C5221E;
  cursor : pointer;
}


#downArrow {
  position : absolute;
  width : 3vw;
  top : 88vh;
  left : 48.5vw;
  position : fixed;
}

#downArrowContainer {
  position : absolute;
  top : 83vh;
  color : white;
  text-align : center;
  width : 100%;
  height : 2vh;
}
.parallax {
    background-image: url("../Imgs/planets/marsWallpaper.jpg");
    /* Full height */
    height: 100vh;
    width : 100vw;
    position : absolute;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxHalf {
    background-image: url("../Imgs/planets/marsWallpaper.jpg");
    /* Full height */
    height: 10%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*filter: blur(8px);
    -webkit-filter: blur(8px);
    background-color : black;
    opacity: 1;*/
}

#headingBox {
  width : 100vw;
  position : absolute;
  top : 20vh;
  text-align: center;
  z-index:5;
  opacity : 1;
}

#headingText {
  font-family : Brave81;
  color :rgb(196, 196, 196);
  text-shadow : 4px 4px black;
  font-weight : bold;
  font-size : 2.5vw;
}

#headingSubtitle {
  font-weight : bold !important;
  font-size : 1.5vw !important;
  color : white;
  text-shadow : 2px 2px black;
}

#bigBox {
  position : absolute;
  top : 100vh;
  /*background-image : url("../Imgs/planets/marsWallpaper.jpg");
  /* Create the parallax scrolling effect 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  width : 100vw;
  margin-left: 5vw;
}

.course {
  width : 30vw;
  padding : 1vw;
  background : transparent !important;
}

.courseTitle {

}

.courseTitleText {
  color :rgb(196, 196, 196);
  font-weight : bold;
  font-size : 1.5vw;
}

.courseCode {

}

.courseCodeText {
  color :rgba(196, 196, 196, 0.582);
  font-size : 1vw;
  background : transparent;
}

.courseDescription {

}

.courseDescriptionText {
  color: white;
  font-size : 0.8vw;
}

.courseSupp {
  font-weight : bold;
  z-index:100;
}

a {z-index:200;}
