body {
    overflow : hidden;
    scroll-behavior: smooth;
}

.page {
    width : 100%;
    height: 100%;
    opacity : 0.75;
    position : absolute;
}

#AboutMeContainer{
    background-color: yellow;
    position: relative;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
}