body {
    background-image: url('../Imgs/black-night-space-sky-purple-violet-839896-wallhere.com.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family: monospace;
    font-size: 100%;
    overflow : hidden;
}

#ship_img {
    max-height:50vh;
    top: 14vh;
    position : absolute;
    float : left;
    right: 1vw;
}

#booster_right {
    position: absolute;
    right: 11.2vw;
    float : left;
    top: 68vh;
}

#booster_left {
    position: absolute;
    top: 68vh;
    float : left;
    left: 80.9vw;
}

#booster_mid {
    position : absolute;
    top : 70vh;
    float : left;
    left : 82.5vw;
    display : none;
}

#selection_bar {
    top : 5vw;
    margin : auto;
}

.selection {
    width: 23vw;
    text-align: center;
    float : left;
    position : relative;
    margin-right: 1vw;
    margin-left : 1vw;
    color: #FFFA6B;
    font-size: 1vw;
    background-color: #230245;
    box-shadow : 0 0 20px #B300B2;
}

.selection:hover {
    box-shadow : 0 0 75px white;
    color:#FFEF00;
}

.item_container{
    margin:auto;
    border : 1px solid;
}

.selected{
    box-shadow: 0 0 25px #f9cb59;
    background-color: #B300B2;
}

.engine_selection_item {
    width: 100vw;
    border : 5px solid;
    text-align: center;
}

#ship {
    top : 50vh;
    width : 25%;
}

#hud{
    background-color: #B300B2;
    opacity: 0.5;
    left: 1vw;
    width: 33vw;
    top: 20vh;
    border: 20px solid darkmagenta;
    position: absolute;
    display:none;
}

.hud_item {
    position : relative;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left:2vw;
}

.hud_item:hover {
    box-shadow: 0 0 25px #f9cb59;
}

.hud_item_img{
    position: relative;
    max-height: 120vh;
    width: auto;
}