body {
    overflow : hidden;
    background-image : url('../Imgs/black-night-space-sky-purple-violet-839896-wallhere.com.jpg')
}

.rotate_img{
    -webkit-transform:rotate(90deg); /* Chrome, Safari, Opera */
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);   /* Standard syntax */
}

.exhaust_top{
    position : absolute;
    float : left;
    top : 16%;
    left: -8%;
    max-width: 5%;
    height: auto;
}

.exhaust_bottom{
    position : absolute;
    float: left;
    top : 28%;
    left: -8%;
    max-width: 5%;
    height: auto;
}

.ship_img { 
    max-width: 25%;
    height: auto;
}

#ship {
    width: fit-content;
    height: fit-content;
    position : absolute;
    left: 10%;
    top: 10%;
}

.shot_top {
    position: absolute;
    top : 0%;
    left: 23%;
    width: 7%;
    height : auto;
    display : none;
}

.shot_bottom {
    position: absolute;
    top : 35%;
    left: 23%;
    width: 7%;
    height : auto;
    display : none;
}