html, body {
  width : 100%;
  background : black;
  font-family: 'Courier New', monospace !important;
}

@font-face {
  font-family: 'Andromeda';
  src: url('../../Fonts/Andromeda-eR2n.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Brave81";
  src: url('../../Fonts/Outerorbit-rggRL.ttf') format('truetype'); /* Safari, Android, iOS*/
}


#linkedinBtn {
  width : 5vh;
  background:rgb(196, 196, 196);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#linkedinBtn:hover{
  background-color:rgb(10,102,194);
}

#email {
  width : 4vh;
  background-color : rgb(196, 196, 196);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin : 0.3vw;
}

#email:hover {
  background-color:#C5221E;
  cursor : pointer;
}

#gitBtn {
  width : 4.4vh;
  background:rgb(196, 196, 196);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius : 5px;
  margin-left : 0.5vw;
}

#gitBtn:hover {
  background-color: purple;
}

.earth {
  position : absolute;
  background-image: url("../../Imgs/planets/earthMobile.jfif");
  /* Full hei0ght */
  height: 100%;
  width : 100%;
  background-size: cover;
  background-position : center;
  background-repeat : no-repeat;
  top : 0%;
  left : 0%;
  display : inline-block;
}

.aboutMeHeadingContainer {
position : absolute;
width : 100%;
top : 20%;
left : 0%;
text-align: center;
}

.aboutMeHeading {
font-weight : bold !important;
font-size : 3vh !important;
color : rgb(138, 138, 138);
text-shadow : 2px 2px black;
}

.aboutMeSubtitle {
font-weight : bold !important;
font-size : 2vh !important;
color : white;
text-shadow : 2px 2px black;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 8vh !important;
  color : rgb(138, 138, 138);
  font-weight: 900 !important;
}

h2 {
  font-size: 2.5vh !important;
  color : rgb(138, 138, 138);
  font-weight: 700 !important;
}

.hr {
border-top: 1px dashed white;
}

p {
  font-size : 2vh !important;
  font-weight : bold;
}

.container {
  position: absolute;
  width : 100vw;
  height : 100vh;
  top : 100%;
  left : 7vw;
  background: black !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack : center;
      -ms-flex-pack : center;
          justify-content : center;
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  margin : 0 auto;
}

#me {
  position : absolute;
  width : 50vw;
  left : 25vw;
  top : 40vh;
  border-radius : 30px;
  float : center;
}

#textbox {
  color : white;
  position : absolute;
  /*top : 15%;*/
  width : 100vw;
  float : center;
  left : 0vw;
  top : 80vh;
  padding : 5vw;
  text-shadow : 2px 2px 5px black;
  background-color : black !important;
}
#fader {
position : fixed;
top : 0;
left: 0;
width: 100vw;
height : 100vh;
z-index: 999999;
pointer-events: none;
background: black;
-webkit-animation-duration: 4000ms;
        animation-duration: 4000ms;
-webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
}

@-webkit-keyframes fade-out {
from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-out {
from { opacity: 1 }
    to { opacity: 0 }
}

@-webkit-keyframes fade-in {
from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fade-in {
from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
opacity: 0;
-webkit-animation-name: fade-out;
        animation-name: fade-out;
}

#fader.fade-in {
opacity: 1;
-webkit-animation-name: fade-in;
        animation-name: fade-in;
}