html, body {
  width : 100%;
  background : black;
  font-family: 'Courier New', monospace !important;
}

@font-face {
  font-family: 'Andromeda';
  src: url('../../Fonts/Andromeda-eR2n.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Brave81";
  src: url('../../Fonts/Outerorbit-rggRL.ttf') format('truetype'); /* Safari, Android, iOS*/
}

.parallax {
  background-image: url("../../Imgs/planets/marsMobile.jpg");
  /* Full height */
  height: 100vh;
  width : 100vw;
  position : absolute;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#row{
  background-color: rgba(0, 0, 0, 0.527);
}

.parallaxBlur {
  background-image: url("../../Imgs/planets/marsMobile.jpg");
  /* Full height */
  height: 100vh;
  width : 100vw;
  position : absolute;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.26);
  background-blend-mode: lighten;
}

#headingBox {
  width : 100vw;
  position : absolute;
  top : 20vh;
  text-align: center;
  z-index:5;
  opacity : 1;
}

#headingText {
  font-family : Brave81;
  color :rgb(196, 196, 196);
  text-shadow : 4px 4px black;
  font-weight : bold;
  font-size : 3vh;
}

#headingSubtitle {
  font-weight : bold !important;
  font-size : 2vh !important;
  color : white;
  text-shadow : 2px 2px black;
}

#bigBox {
  position : absolute;
  top : 80vh;
  /*background-image : url("../Imgs/planets/marsWallpaper.jpg");
  /* Create the parallax scrolling effect 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  width : 100vw;
}

.course {
  width : 30vw;
  padding : 4vw;
}

.courseTitle {

}

.courseTitleText {
  color :rgb(196, 196, 196);
  font-weight : bold;
  font-size : 4vh;
  text-shadow : 4px 4px black;
}

.courseCode {

}

.courseCodeText {
  color :rgba(196, 196, 196, 0.582);
  font-size : 2vh;
}

.courseDescription {

}

.courseDescriptionText {
  color: white;
  font-size : 2vh;
  font-weight: bold;
  text-shadow : 2px 2px black;
}

.courseSupp {
  font-weight : bold;
  text-shadow : 2px 2px black;
}



#fader {
  position : fixed;
  top : 0;
  left: 0;
  width: 100vw;
  height : 100vh;
  z-index: 999999;
  pointer-events: none;
  background: black;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes fade-out {
  from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-out {
  from { opacity: 1 }
      to { opacity: 0 }
}

@-webkit-keyframes fade-in {
  from { opacity: 0 }
      to { opacity: 1 }
}

@keyframes fade-in {
  from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
  opacity: 0;
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
}